.form-div{
    width: 50%;
    margin: 30vh auto;
}

.form-content{
    display: flex;
}

.form-text{
    width: 40%;
    margin-top: 5%;
}
.form-input{
    width: 40%;
    margin-top: 5%;
}

.form-button{
    text-align: center;
    margin: 5% auto;
}

.form-button button{
    margin-left: 5%;
}